@font-face {
    font-family: "Kusanagi";
    src: url(fonts/Kusanagi.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: "Kusanagi";
    font-size: 35px;
    color: white;
}

header {
    background-color: transparent;
    color: white;

    transform: scale(0);
    transition: 1s;
    transition-delay: 3s;
}

ul.show {
    user-select: none;
}

li {
    list-style-type: none;
    font-family: "Kusanagi";
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.back-vid {
    width: 100%;
    height: 100vh;
    opacity: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}

.enterwired {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
}

.enteranim {
    animation: enteranim 1s alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes enteranim {

    100%,
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/* Enter The Wired Arrow */
.arrow {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* Enter The Wired Arrow End*/

/* MAIN SECTION */
.page_show {
    background: transparent;
    height: 100vh;
    padding: 50px;
    transform: scale(0);
    transition: 1s;
    transition-delay: 4s;
    z-index: 2;
    color: white;
    text-align: center;
    align-items: center;
}

.show {
    transform: scale(1);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 200px;
}

li a {
    font-size: 30px;
    transition: ease 0.5s;
}

li a:hover {
    font-size: 35px;
}

.repertoire.comprendre>.comprendre,
.repertoire.concevoir>.concevoir,
.repertoire.exprimer>.exprimer,
.repertoire.developper>.developper
.repertoire.entreprendre>.entrepreneur,
.repertoire.S1>.S1,
.repertoire.S2>.S2{ 
display: flex;

}